.info {
  width: 100%;
}
.ProductName {
  font-size: 21px;
  font-weight: 500;
  color: rgb(13, 17, 54);
  line-height: 1.2;
  margin-bottom: 15px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
}
.ProductBand {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: rgb(13, 17, 54);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  line-height: 22px;
}
.ProductPriceWapper {
  /* display: flex;
  -webkit-box-align: center;
  align-items: center; */
  text-decoration: line-through;
  color: #929292;
  font-weight: 600;
}
.ProductCartWapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.needToLogin {
  margin-top: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.ProductDescription {
  font-family: 'Montserrat', sans-serif;
}
.ProductPriceSale {
  /* display: flex;
  -webkit-box-align: center;
  align-items: center; */
  font-size: 19px;
  font-weight: 600;
  color: rgb(0, 158, 127);
}
/* .btn {
  display: flex;
  justify-content: center;
} */
.button {
  position: relative;
  display: block;
  color: black;
  font-size: 13px;
  font-family: 'Roboto Slab', serif;
  margin: 12px 0;
  /* border: 2px solid #ff7675; */
  padding: 10px 50px;
  text-transform: uppercase;
  transition: 1s all ease;
  background: none;
  outline: none;
  border: 1px solid #333;
  margin-top: 20px;
}
.button:hover {
  background-color: #333;
  color: #fff;
}
.star {
  color: #ffc107;
  margin-bottom: 7px;
}
/* .button::before {
  background: #333;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}
.button::before {
  width: 0;
  height: 100%;
}
.button:hover::before {
  width: 100%;
}
.button:hover {
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
} */
