.container {
  min-width: 1200px;
  display: flex;
  margin: 0px 90px 0px 90px;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  align-items: center;
  height: 91px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}
.info {
  display: flex;
  justify-content: space-between;
  line-height: 52px;
  cursor: pointer;
  /* margin-right: 125px; */
}
.info i {
  cursor: pointer;
  line-height: 18px;
}
.acc {
  cursor: pointer;
}
.cart {
  margin-right: 30px;
  cursor: pointer;
  line-height: 52px;
  margin-left: 36px;
  text-decoration: none;
  color: #333;
}
.cart:hover {
  color: #333;
}
.cart i {
  margin-bottom: 1px;
  font-size: 11px;
  margin-left: 7px;
  position: relative;
}
.cart i span {
  height: 20 px;
  line-height: 20px;
  background: #1c1c1c;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  text-align: center;
  min-width: 20px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-indent: 2px;
  position: absolute;
  top: -12px;
  right: -10px;
  font-family: 'Montserrat', sans-serif;
}
.border {
  width: 95%;
  margin: auto;
  border-bottom-width: 1px;
  border-bottom-color: #ededed;
  border-bottom-style: solid;
}
.searchBox {
  background-color: #2f3640;
  background: #2f3640;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
}
.searchBtn {
  color: #fff;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchTxt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}
.searchBox:hover > .searchTxt {
  width: 240px;
  padding: 0 6px;
}
.notifyList {
  position: absolute;
  width: 200px;
  background: #fff;
  list-style: none;
  display: none;
  right: -27px;
  transform-origin: top;
  transition: 0.3s;
}
.notifyItem {
  font-size: 10px;
  text-decoration: none;
  color: #333;
  display: block;
}
.notifyItem:hover {
  color: rgb(145, 104, 65);
}
.acc {
  position: relative;
  transition: 0.3s;
}
.acc:hover .notifyList {
  display: block;
}
.notifyList::before {
  content: '';
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(239, 239, 239) transparent;
  position: absolute;
  right: 30px;
  top: -20px;
}
